body{
    margin: 0;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}
canvas {
    border: 2px solid white;
    display: block;
    margin: 0 auto;
}

h2 {
    margin-top: 10px;
    color: white;
    text-align: center;
}